name: '6-anthos - apply'

on:
  push:
    branches:
      - INSERT_MAIN_BRANCH
    paths:
      - 6-anthos/**

env:
  PROJECT_ID: PRJ_B_CICD_XXXX
  SECRET_ID: INSERT_SECRET_KEY
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  BRANCH_NAME: INSERT_MAIN_BRANCH
  BUCKET: INSERT_BUCKET_NAME
  GAR_REGION: INSERT_GAR_REGION

jobs:
  terraform:
    name: "Anthos configuration"
    runs-on: INSERT_RUNNER_LABEL
    defaults:
      run:
        working-directory: 6-anthos/
    permissions:
      pull-requests: 'write'
      contents: read
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0
        with:
          version: '338.0.0'
      - name: configure Regula
        run: |
          wget -q https://github.com/fugue/regula/releases/download/v2.6.1/regula_2.6.1_Linux_x86_64.tar.gz
          tar -xf regula_2.6.1_Linux_x86_64.tar.gz
          mv regula /usr/local/bin
      - name: Compliance check
        run: |
          date -u +%Y%m%d-T%H%M%S > TAG
          regula run  . | tee ./compliance-6-anthos-$(cat TAG).json

      - name: Upload compliance report
        run: |
          jq .summary.rule_results.FAIL ./compliance-6-anthos-$(cat TAG).json > STATUS
          if [ $(cat STATUS) == 0 ]; then
                echo "-----------------------------------------------------------"
                echo "The Terraform code is compliant with Compliance standards"
                echo "-----------------------------------------------------------"
                gsutil cp ./compliance-6-anthos-$(cat TAG).json gs://${{ env.BUCKET }}/tf-validator/compliance-6-anthos-$(cat TAG).json
          else
                echo "-----------------------------------------------------------"
                echo "Please check terraform code fix the errors listed above."
                echo "-----------------------------------------------------------"
                gsutil cp ./compliance-6-anthos-$(cat TAG).json gs://${{ env.BUCKET }}/tf-validator/compliance-6-anthos-$(cat TAG).json
                exit 1
          fi
      - name: Trigger build
        run: |
          cd ${{ github.workspace}}/build
          gcloud builds submit --config=github-ssh-cloudbuild-anthos.yml \
            --project=${{ env.PROJECT_ID }} \
            --substitutions=_SECRET_ID=${{ env.SECRET_ID }},_GIT_HEAD_BRANCH=${{ env.BRANCH_NAME }},_GIT_LZ_REPO="${{ github.repository }}.git",_GIT_WORK_DIR="${GITHUB_REPOSITORY##*/}/5-app-infra",_GAR_REGION=${{ env.GAR_REGION}}
      - name: Report Status
        uses: ravsamhq/notify-slack-action@v1
        if: always()
        with:
          notification_title: '{workflow} has {status_message}'
          status: ${{ job.status }}
          notify_when : 'failure'
          footer: 'Linked to Repo <{repo_url}|{repo}>'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.GCF_SLACK_WEBHOOK }}
