name: 'gitleaks checks'

on:
  pull_request:
    branches:
      - INSERT_MAIN_BRANCH

jobs:
  gitleaks:
    runs-on: INSERT_RUNNER_LABEL
    steps:
    - uses: actions/checkout@v2.3.5
      id: gitleaks
      with:
        fetch-depth: '0'
    - name: gitleaks-action
      uses: zricethezav/gitleaks-action@master

