name: 'KCC Configuration'

on:
  push:
    branches:
      - INSERT_MAIN_BRANCH
    paths:
      - 'kcc/**'
      - '!kcc/kcc-policies/constraints/**'
      - '!kcc/config-connector-installation/**'
      - '!kcc/connector-export-scripts/**'
      - '!kcc/custom-resource-manifests/**'


env:
  PROJECT_ID: PRJ_B_CICD_XXXX
  SECRET_ID: INSERT_SECRET_KEY
  GH_TOKEN: ${{ secrets.GH_TOKEN }}
  BRANCH_NAME: INSERT_MAIN_BRANCH
  GAR_REGION: INSERT_GAR_REGION

jobs:
  terraform:
    name: "KCC configuration"
    runs-on: INSERT_RUNNER_LABEL
    defaults:
      run:
        working-directory: kcc/
    permissions:
      pull-requests: 'write'
      contents: read
      id-token: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2.3.5
        with:
          fetch-depth: 0
      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v0
        with:
          version: '338.0.0'

      - name: Trigger build
        run: |
          cd ${{ github.workspace}}/build
          gcloud builds submit --config=github-ssh-cloudbuild-kcc.yml \
            --project=${{ env.PROJECT_ID }} \
            --substitutions=_SECRET_ID=${{ env.SECRET_ID }},_GIT_HEAD_BRANCH=${{ env.BRANCH_NAME }},_GIT_LZ_REPO="${{ github.repository }}.git",_GIT_WORK_DIR="${GITHUB_REPOSITORY##*/}/kcc",_GAR_REGION=${{ env.GAR_REGION}}
      - name: Report Status
        uses: ravsamhq/notify-slack-action@v1
        if: always()
        with:
          notification_title: '{workflow} has {status_message}'
          status: ${{ job.status }}
          notify_when : 'failure'
          footer: 'Linked to Repo <{repo_url}|{repo}>'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.GCF_SLACK_WEBHOOK }}
